[Unit]
Description=default
After=syslog.target network.target docker.target registry.target

[Service]
User=root
EnvironmentFile=/opt/openpitrix/conf/openpitrix.conf
ExecStart=/opt/openpitrix/sbin/start_default.sh $MOUNT_POINT $FILE_NAME $FILE_CONF $IMAGE
ExecStop=/usr/bin/docker stop default
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
