[Unit]
Description=etcd
After=syslog.target network.target docker.target

[Service]
User=root
EnvironmentFile=/opt/openpitrix/conf/openpitrix.conf
ExecStart=/opt/openpitrix/sbin/start_etcd.sh $FILE_NAME
ExecStop=/usr/bin/docker stop etcd
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
