[Unit]
Description=default
After=syslog.target network.target etcd.target openpitrix.target

[Service]
User=root
EnvironmentFile=/opt/openpitrix/conf/openpitrix.conf
ExecStart=/opt/openpitrix/sbin/start_default.sh $MOUNT_POINT $FILE_NAME $IMAGE
ExecStop=docker stop default
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
