[Unit]
Description=openpitrix_frontgate_drone
After=syslog.target network.target docker.target

[Service]
User=root
EnvironmentFile=/opt/openpitrix/conf/openpitrix.conf
ExecStart=/opt/openpitrix/sbin/start.sh $MOUNT_POINT $FILE_NAME $FILE_CONF $IMAGE
ExecStop=docker stop default

[Install]
WantedBy=multi-user.target
