# Copyright 2018 The OpenPitrix Authors. All rights reserved.
# Use of this source code is governed by a Apache license
# that can be found in the LICENSE file.

[template]
src = "simple.json.tmpl"
dest = "${LIBCONFD_CONFDIR}/apps/simple/config.json"

prefix = ""
keys = [
	"key"
]

check_cmd = """
	mingw32-make -C ${LIBCONFD_CONFDIR}/apps/simple -f Makefile.windows check-config
"""

reload_cmd = """
	mingw32-make -C ${LIBCONFD_CONFDIR}/apps/simple -f Makefile.windows restart
"""
